@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.bg-kabisig {
    background-color: #CCE8FF;
}

.btn-primary {
    background-color: #004F91;
}

.text-color {
    color: #004F91;
}

.card-bg {
    background-color: #FFF;
}

.kabisig-logo {
    display: block;
}

.form-background {
    background-color: #F6F8FF;
}

.logo-background {
    background-color: #004F91;
}

.input-box {
    background-color: #F3F3F3;
}

@media only screen and (max-width: 1200px) {
    .login-img {
        display: none;
    }
}

@media only screen and (max-width: 998px) {
    .kabisig-logo {
        display: none;
    }

    .logo-background {
        display: none;
    }
}
